# {{ test_file_name }}
# Target: {{ module_name }}.{{ invocation }}
# TestID: {{ metadata.test_id }}
# Generated with NeuroTrace on {{ metadata.gen_date }} by @{{ metadata.github_user }}
{% if module_path and func_name %}
from {{ module_path }} import {{ module_name }}
{% endif %}
import json
from pathlib import Path
import pytest

def test_{{ func_name }}_{{ metadata.test_id }}():
    # Load the recorded data
    with open(Path(__file__).parent.joinpath('{{ recording_filename }}'), 'r') as file:
        record = json.load(file)

    expected_result = record.get("result", None)
    {% if success %}
    # Call the function with recorded arguments and compare the result
    assert {{ module_name }}.{{ invocation }} == expected_result
    {% else %}
    # Expect the function to raise an exception
    with pytest.raises(Exception):
        {{ module_name }}.{{ invocation }}
    {% endif %}
